@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes:
		lofi --default,
		black --prefersdark;
}

:is(h1, h2, h3, h4, h5) {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
}

body {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

[data-theme='black'] footer nav svg path {
	fill: white;
}
